* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #E2E4E9;
  --secondary-text: #C0C4CE;
  --grey-300: #878EA1;
  --grey-400: #292C34;
  --grey-500: #16181D;
  --grey-600: #0D0E11;
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;
  --title-lg: bold 3.5rem/120% var(--font-family-title);
  --title-md: bold 1.5rem/120% var(--font-family-title);
  --title-sm: bold 1rem/120% var(--font-family-title);
  --subtitle: 400 1.25rem/120% var(--font-family-subtitle);
  --text-md: 400 16px/140% var(--font-family-text);
  --text-sm: 400 14px/140% var(--font-family-text);

 --red-blue-grad: linear-gradient(90deg, #E3646E, #3996DB);

 --light-grey-grad: linear-gradient(90deg, #878ea186, var(--secondary-text-base-grey-200));
}

p {
  font: var(--text-sm);
  color: var(--secondary-text);
}

h1 {
  font: var(--title-sm);
  color: var(--primary-text);
}

h2 {
  font: var(--subtitle);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  :root {
    --title-lg: bold 48px/120% var(--font-family-title);
    --title-md: bold 22px/120% var(--font-family-title);
    --subtitle: 400 18px/120% var(--font-family-subtitle);
    --text-md: 400 14px/140% var(--font-family-text);
  }

  .container {
    padding: 0 20px;
  }

  #projects,
  .services,
  #social-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card,
  #service-box,
  .social-button {
    width: 100%;
    height: auto; 
  }

  header,
  #service-container,
  #contacts {
    padding: 40px 20px;
  }

  .info {
    padding: 80px 20px 40px 20px;
  }

  h1,
  h2,
  .title,
  .text,
  #service-box .title,
  #service-box p {
    text-align: left;
  }

  .bio #title,
  .bio #subtitle,
  #service-container h2,
  #service-container h1,
  #contacts,
  #contacts h1,
  #projects h1,
  #projects h2,
  .container h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}