* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #E2E4E9;
  --secondary-text: #C0C4CE;
  --grey-300: #878EA1;
  --grey-400: #292C34;
  --grey-500: #16181D;
  --grey-600: #0D0E11;
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;
  --title-lg: bold 3.5rem/120% var(--font-family-title);
  --title-md: bold 1.5rem/120% var(--font-family-title);
  --title-sm: bold 1rem/120% var(--font-family-title);
  --subtitle: 400 1.25rem/120% var(--font-family-subtitle);
  --text-md: 400 1rem/140% var(--font-family-text);
  --text-sm: 400 0.875rem/140% var(--font-family-text);

 --red-blue-grad: linear-gradient(90deg, #E3646E, #3996DB);

 --light-grey-grad: linear-gradient(90deg, #878ea186, var(--secondary-text));
}

p {
  font: var(--text-sm);
  color: var(--secondary-text);
}

h1 {
  font: var(--title-sm);
  color: var(--primary-text);
}

h2 {
  font: var(--subtitle);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
    & header {
    padding: 4rem 1rem 2rem 1rem;
    overflow: hidden;
  
    & #info {
      & h1 {
        font-size: 2.5rem;
        padding-block: .5rem 1rem;
      }

      & p {
        padding-inline: 1rem;
      }

      & div > img {
        width: 5rem;
        margin-bottom: 2rem;
      }
    }

    & #tags {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 3rem;
      gap: .75rem;

      & p {
        padding-inline: 1rem;
        font-size: .875rem;
      }
    }

    & .next {
      width: 1rem;
    }
  }

 & main {
    padding: 0 1rem 4rem 1rem;
    text-align: center;

    & #projects {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .project-card {
        width: auto;

        & h1, p {
          text-align: center;
        }
      }

      & .title {
        margin-top: .5rem;
        font-size: .9rem;
      }
    }
  }

  & .services-container {
    padding: 3rem 1rem 4rem 1rem;
    text-align: center;

    & > div {
      flex-direction: column;
      gap: 1rem;
    }
  }

  & #contacts {
    padding: 4rem 1rem 6rem 1rem;
    text-align: center;

    & h1 {
      font-size: 1rem;
    }

    & p {
      padding-inline: 1rem;
    }

    & > div {
      width: 100%;
      min-width: unset;
    }

    & .social-button {
      padding: 1rem;
      max-height: unset;
    }
  }
}