header {
  background: url(../assets/images/Background_Intro.png) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100vw;
  margin-top: 80px;

  width: 100vw;
  padding: 0 163px 57px 163px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 120px 163px 57px 163px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 6rem;
  aspect-ratio: 1/1;

  margin-bottom: 56px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}

#subtitle {
  font: var(--subtitle);
  color: var(--secondary-text-base-grey-200);
}

#subtitle span {
  background-image: var(--red-blue-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {
  font: var(--title-lg);
  color: var(--primary-text-base-grey-100);
}

#text {
  font: var(--text-sm);
  color: var(--base-grey-300);

  margin-top: 20px;
}

.tags {
  display: flex;
  gap: 16px;

  align-items: center;
  justify-content: center;

  margin-top: 60px;
  margin-bottom: 94px;

  flex-wrap: wrap;
}

.tags p {
  display: flex;
  background-color: var(--base-grey-400);
  color: var(--secondary-text-base-grey-200);
  border-radius: 999px;
  font: var(--text-md);

  align-items: center;

  padding: 8px 16px;

  gap: 8px;
}

.tags p img {
  width: 24px;
  height: 24px;
}

.next {
  display: flex;
  align-items: center;
}