header {
  background: url(../assets/images/Background_Intro.png) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7.5rem 10.187rem 3.56rem 10.187rem;
  }

#info {
  max-width: 42.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  & h2 {
  color: var(--secondary-text);
  & span {
    color: var(--red);
  }
}

  & h1 {
    font: var(--title-lg);
    padding-block: 0.5rem 1.25rem;
  }

  & p {
    color: var(--grey-300);
  }

  & div > img {
    width: 6rem;
    margin-bottom: 3rem;
  }
}

#tags {
  display: flex;
  gap: 1rem;

  margin-top: 4.5rem;
  margin-bottom: 5.875rem;

  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
    font: var(--text-md);

    background-color: var(--grey-400);
    border-radius: 62.43rem;

    padding-block: .5rem;
    padding-inline:  1.5rem;

    gap: .25rem;
  }

  & img {
    width: 1.5rem;
  }
}

.next {
  width: 2rem;
}