.container {
  /* border: 3px solid white; */
  min-width: 1366px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0px 120px 144px 120px;
}

.container div {
  display: flex;
  flex-direction: column;

  align-items: center;
}

h2 {
  font: var(--subtitle);
  color: var(--red);
  margin-bottom: 8px;
}

h1 {
  font: var(--title-md);
  color: var(--primary-text-base-grey-100);
}

#projects {
  /* border: 3px solid green; */
  max-width: 1126px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  margin-top: 56px;
}

.project-card {
  /* border: 3px solid red; */
  background-color: var(--base-grey-400);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  
  width: 330px;
  height: 280px;  

  gap: 8px;
}

.project-card img {
  width: 306px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 8px;
}

.project-card h1 {
  font: var(--title-sm);
  margin-top: 20px;
}

.project-card p {
  font: var(--text-sm);
  color: var(--secondary-text-base-grey-200);
}