#service-container {
  background-color: var(--base-grey-600);
  padding: 88px 120px 120px 120px;
  min-width: 1366px;
  /* min-height: 480px; */
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  gap: 24px;
  margin-top: 56px;
}

#service-box {
  border: 3px solid var(--base-grey-500);
  border-radius: 12px;
  padding: 20px;
  max-width: 888px;
}
